* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  overflow-y: hidden;
}

main .desktopimg {
  display: none;
  height: 100svh;
  width: 70vw;
}
.desktopimg img {
  height: 100%;
  width: 100%;
}

#startPage,
#loginPage,
#taskPage {
  background: aliceblue;
  padding-top: 3%;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main_logo {
  width: 260px;
}

#startPage .startButton,
.loginButton {
  background-color: #145b9e;
  color: #fff;
  font-size: 1em;
  width: 200px;
  height: 40px;
  border: 0;
  cursor: pointer;
  visibility: visible;
}

#startPage .slides {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: min(90%, 400px);
  height: 150px;
  border-radius: 20px 20px 0 0;
  border-bottom: 2px solid #145b9e;
  color: #145b9e;
  font-size: 0.9em;
  background-color: #ffffffe8;
}

.slides_wrapper {
  display: flex;
  /* border: 1px solid red; */
  width: min(100%, 400px);
  overflow: hidden;
}

.slides_wrapper .slide {
  /* position: absolute; */
  text-align: center;
  opacity: 0;
  /* transform: translateX(400px); */
  min-width: min(100%, 400px);
  transition: transform 1s;
}

.slides_wrapper .show {
  opacity: 1;
  /* transform: translateX(0px); */

  /* animation: show 0.5s linear forwards; */
}

.button_wrapper {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}
.button_wrapper button {
  width: 22px;
  border: none;
  background-color: transparent;
}

.button_wrapper button svg {
  fill: #145b9e;
}

#startPage .slides .dots_wrapper {
  display: flex;
  gap: 20px;
}
#startPage .slides .dots_wrapper .dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #145b9e81;
}

#startPage .slides .dots_wrapper .active {
  width: 7px;
  height: 7px;
  background-color: #145b9e;
}

.toggleBtn {
  width: 50px;
  height: 25px;
  border-radius: 30px;
  background-color: #173046;
}
.toggle {
  width: 22px;
  height: 22px;
  border-radius: 30px;
  background: url("/img/moon-stars.svg");
  background-position: center;
  background-size: 15px;
  background-repeat: no-repeat;
  background-color: aliceblue;
  margin: 1.5px;
}

.footer {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em;
}

/* login page */
/* login page */
/* login page */
.prevPage,
.backToLogin {
  background: none;
  border: none;
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
  outline: 0;
}

.prevPage svg,
.backToLogin svg {
  fill: #145b9e;
  width: 30px;
}

.loginButton {
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.loginButton svg,
.signUpBtn svg {
  width: 20px;
  fill: aliceblue;
}

.signUpBtn {
  display: block;
  font-size: 0.8em;
  width: 150px;
  height: 35px;
}

.signUpText,
#signUpForm p {
  text-align: center;
}
.blurLayer,
.taskBlurCOntainer,
.SuccessfulSignupBlur {
  width: 100%;
  height: 100vh;
  background-color: #f0f8ff5d;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  display: none;
}

#signUpForm .main_logo {
  width: 120px;
}

#signUpForm {
  position: absolute;
  top: 30px;
  padding-top: 20px;
  background-color: #fff;
  width: min(80%, 400px);
  height: 90svh;
  border-radius: 20px;
  align-items: center;
  flex-direction: column;
  display: none;
  z-index: 9;
}

/* .toggleSignUpForm {
  display: flex;
} */

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 250px;
  height: 35px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #145b9e;
  margin: 15px 0;
  padding: 5px;
  background: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background: #fff;
}

input[type="checkbox"] {
  margin-top: 25px;
}

label {
  color: #145b9e;
  font-size: 0.9em;
}

#taskPage {
  margin-top: -3%;
  justify-content: flex-start;
  gap: 10px;
}

#taskPage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3% 5% 0;
  width: 100%;
  box-shadow: 0 0 5px #145b9e75;
}

#taskPage header .main_logo {
  width: 100px;
}

header .user {
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
}

#taskPage section.label {
  padding: 3% 5% 0;
  width: 100%;
  line-height: 35px;
}

#taskPage section p {
  font-size: 0.9em;
}

#taskPage .taskSection {
  width: 100%;
  height: 52%;
  padding: 3% 5% 0;
  overflow: scroll;
}
.taskWrapper {
  width: 100%;
  height: fit-content;
  background-color: #145b9e48;
  margin: 10px 0;
  padding: 10px;
  border-left: 3px solid #145b9e;
  border-radius: 7px;
}
.taskWrapper > .taskDetails {
  line-height: 25px;
}
.taskWrapper > .taskDetails > p > span {
  font-size: 15px;
}

.taskWrapper .taskActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  background-position: calc();
}

.taskActions .taskEditBtn,
.taskActions .taskDeleteBtn {
  width: 25px;
  height: 27px;
  padding: 3px;
  border: 1px solid #145b9e;
  border: 1px solid #aaadafa6;
  border-radius: 3px;
  background: 0;
  fill: #145b9e;
  margin: 0 -20px;
}

.taskActions p {
  width: 115px;
  margin: 0;
}

.taskCompleteStatusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 30px;
  border: none;
  background-color: #145b9e;
  color: aliceblue;
  font-weight: 500;
}

.taskCompleteStatusBtn svg {
  width: 15px;
  fill: aliceblue;
  margin-left: 5px;
}

#taskPage .addTaskBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-radius: 50%;
  border: none;
  outline: 0;
  width: 50px;
  height: 50px;
  background-color: #145b9e;
}

#taskPage .addTaskBtn svg {
  fill: aliceblue;
  width: 25px;
  height: 25px;
}

.addtaskSection {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 85%;
  height: 400px;
  background-color: aliceblue;
  box-shadow: 0 0 4px #05284985;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}
.SuccessfulSignup {
  line-height: 40px;
  color: #145b9e;
  height: 300px;
}
.addtaskSection input[type="text"],
.addtaskSection input[type="password"],
.addtaskSection select,
.addtaskSection input[type="date"] {
  min-width: 90%;
  height: 45px;
  border: 0;
  outline: 0;
  border-bottom: 2px solid #145b9e;
  margin: 15px 0;
  padding: 5px;
  background: none;
}

.createTaskBtn {
  width: 100px;
  height: 40px;
  border: 0;
  background-color: #145b9e;
  color: aliceblue;
}

#taskPage .footer {
  justify-self: end;
}

@media (min-width: 1000px) {
  main .desktopimg {
    display: block;
  }
}
